---
layout: default
---

<div class="home">
<form name="contact" method="POST" action="/success" data-netlify-recaptcha="true" data-netlify="true">
  <p><label for="name">Name: <input id="name" type="text" name="name"></label>
  <p>
    <label for="email">Email: <input id="email" type="email" name="email" /></label>
  </p>
  <p>
    <label for="message">Message: <textarea name="message"></textarea></label>
  </p>
  <div data-netlify-recaptcha="true"></div>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
</div>